
lab03/.vscode/launch.json
lab02/lista.dSYM/Contents/Resources/DWARF/lista
lab02/lista.dSYM/Contents/Resources/DWARF/lista
lab02/lista.dSYM/Contents/Resources/DWARF/lista
lab03/.vscode/tasks.json
lab02/lista.dSYM/Contents/Resources/DWARF/lista
lab02/lista
lab02/.DS_Store
lab03/polinomio.dSYM/Contents/Resources/DWARF/polinomio
lab03/polinomio.dSYM/Contents/Resources/DWARF/polinomio
