
lab03/.vscode/launch.json
lab02/lista.dSYM/Contents/Resources/DWARF/lista
lab02/lista.dSYM/Contents/Resources/DWARF/lista
lab02/lista.dSYM/Contents/Resources/DWARF/lista
lab03/.vscode/tasks.json
lab02/lista.dSYM/Contents/Resources/DWARF/lista
lab02/lista
lab02/.DS_Store
lab03/polinomio.dSYM/Contents/Resources/DWARF/polinomio
lab03/polinomio.dSYM/Contents/Resources/DWARF/polinomio
lab04/subconjunto.dSYM/Contents/Info.plist
lab04/subconjunto
lab04/teste.dSYM/Contents/Info.plist
lab04/teste.dSYM/Contents/Resources/DWARF/teste
mochila_lab5_knapsack01/main
mochila_lab5_knapsack01/CMakeLists.txt
mochila_lab5_knapsack01/cmake-build-debug/Testing/Temporary/LastTest.log
mochila_lab5_knapsack01/cmake-build-debug/CMakeFiles/TargetDirectories.txt
mochila_lab5_knapsack01/cmake-build-debug/CMakeFiles/rules.ninja
mochila_lab5_knapsack01/cmake-build-debug/CMakeFiles/mochila_lab5_knapsack01.dir/main.c.o
mochila_lab5_knapsack01/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
mochila_lab5_knapsack01/cmake-build-debug/CMakeFiles/cmake.check_cache
mochila_lab5_knapsack01/cmake-build-debug/CMakeFiles/clion-environment.txt
mochila_lab5_knapsack01/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
mochila_lab5_knapsack01/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.o
mochila_lab5_knapsack01/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
mochila_lab5_knapsack01/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
mochila_lab5_knapsack01/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
mochila_lab5_knapsack01/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
mochila_lab5_knapsack01/cmake-build-debug/CMakeCache.txt
mochila_lab5_knapsack01/cmake-build-debug/cmake_install.cmake
mochila_lab5_knapsack01/cmake-build-debug/build.ninja
mochila_lab5_knapsack01/cmake-build-debug/.ninja_log
mochila_lab5_knapsack01/cmake-build-debug/.ninja_deps
mochila_lab5_knapsack01/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-5896f1444c2b2e9a8321.json
mochila_lab5_knapsack01/cmake-build-debug/.cmake/api/v1/reply/target-mochila_lab5_knapsack01-Debug-952b10d5d226777aa0ef.json
mochila_lab5_knapsack01/cmake-build-debug/.cmake/api/v1/reply/index-2023-10-31T14-47-56-0680.json
mochila_lab5_knapsack01/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
mochila_lab5_knapsack01/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-f15df822302975303a4b.json
mochila_lab5_knapsack01/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-5b80e55fc74e2da35607.json
mochila_lab5_knapsack01/cmake-build-debug/.cmake/api/v1/reply/cache-v2-e4b1c9f69549bc1cfab8.json
mochila_lab5_knapsack01/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
mochila_lab5_knapsack01/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
mochila_lab5_knapsack01/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
mochila_lab5_knapsack01/cmake-build-debug/.cmake/api/v1/query/cache-v2
mochila_lab5_knapsack01/.idea/modules.xml
mochila_lab5_knapsack01/.idea/mochila_lab5_knapsack01.iml
mochila_lab5_knapsack01/.idea/misc.xml
lab07/.DS_Store
.DS_Store
